	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/12/2020 16:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-computer:before { content: "\f100"; }
.flaticon-coding:before { content: "\f101"; }
.flaticon-mobile-app:before { content: "\f102"; }
.flaticon-smartphone:before { content: "\f103"; }
.flaticon-mobile-app-1:before { content: "\f104"; }
.flaticon-app-development:before { content: "\f105"; }
.flaticon-graphic-designer:before { content: "\f106"; }
.flaticon-arrow-point-to-right:before { content: "\f107"; }
.flaticon-arrow-pointing-to-right:before { content: "\f108"; }
.flaticon-remote:before { content: "\f109"; }
.flaticon-api:before { content: "\f10a"; }